body{
    background-color: #368A7B;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border-radius: 8px;
    padding: 1rem;
}
form{
    display: flex;
    flex-direction: column;
}
input[type="text"]{
    width: 300px;
    padding: 0.7rem;
    margin: 1rem;
    border: 0.3px solid black;
    outline: none;
    border-radius: 8px;
}
input[type="submit"]{
    width: 300px;
    padding: 0.7rem;
    border-radius: 8px;
    background-color: rgb(32, 102, 44);
    margin: auto;
    border: none;
    outline: none;
}
input[type="submit"]:hover{
    background-color: rgb(15, 66, 24);
}